*{
  box-sizing: border-box;
}



body{
  background:#80b2e454;
  color:#81888d;
  line-height:1.6;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Rubik Mono One', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Oswald', sans-serif;
  

  padding:1em;
  background-image: url("../images/background.png");
}

.container{
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:1em;
}

.brand{
  padding: 1rem;
  text-align: center;
  background: rgba(202, 230, 253, 0.719)
}

.brand span{
  color:#fff;
}

.wrapper{
  box-shadow: 0 0 20px 0 rgba(72,94,116,0.7);
}

.wrapper > *{
  padding: 1em;
}

.marketing{
  background:#c9e6ff;
}

.contact{
  background:#f9feff;
}

/* FORM STYLES */
.contact form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap:20px;
}

.contact form label{
  display:block;
}

.contact form p{
  margin:0;
}


.contact form button, .contact form input, .contact form textarea{
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
}

.rounded{
  border-radius: 1.75rem!important;
}

.contact form button{
  background:#c9e6ff;
  border:0;
  text-transform: uppercase;
}

.contact form button:hover,.contact form button:focus{
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

button {
  background:#c9e6ff;
  width:100%;
  padding:1em;
  border:1px solid #c9e6ff;
  border:0;
  text-transform: uppercase;
}

button:hover, button:focus {
  background:#92bde7;
  color:#fff;
  outline:0;
  transition: background-color 2s ease-out;
}

.push {
  margin-left: 1rem;
}

a {
  color: #485e74
}

a:hover {
  text-decoration: none;
  color: #485e74
}

.happy{
  height: 500px ;
  width: 500px;
  border-radius: 50%;
}

.about{
  margin-LEFT: 6.5rem;
}

.leftbox{
  background: gray;
}

h2{
  background: rgb(201, 218, 161);
  text-align: center;
  padding-bottom: 1rem;
  padding-top: .5rem;
}

h3{
  
    background: rgb(211, 228, 212) !important;
    padding: 0 0 0 0  !important;
    margin: 0 0 0 0  !important;
  
}

p{
  background: #f9feff !important;
  margin-top: 2rem !important; 
}

.work{
  width: 20rem;
  height: 20rem;
}

.portfolio{
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.box{
  margin: 4rem 45rem 1rem 0;
  padding: 0 0 0 0;
  width: 50%;
}

.caption{
  background: rgb(187, 230, 196)
}

.image{
  background: rgb(185, 197, 130);
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
  margin: 0 0 1rem 0;
}
.image img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* LARGE SCREENS */
@media(min-width:700px){
  .wrapper{
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  h3{
    background: rgb(211, 228, 212) !important;
    padding: 0 0 0 0  !important;
    margin: 0 0 0 0  !important;
  }

  .leftbox{
    background: gray;
  }

  p{
    margin-top: 8rem !important;
    background: #f9feff !important; 
  }

  .wrapper > *{
    padding:2em;
  }

  .company-info h3, .company-info ul, .brand{
    text-align: left;
  }
}

.happy{
  height: 500px ;
  width: 500px;
  border-radius: 50%;
}

.about{
  background: #485e74;
  margin-LEFT: 6.5rem;
}

h1{
  margin: 0 2rem 0 2rem;
  padding: 2px 0 0 0;
  background: rgb(181, 218, 243);
}


/*extra small sceens*/
@media screen and (max-width: 360px) {

  .container{
    Width: min-content;
  }

  .body{
    max-width: 360px;
    padding: 0rem;
    margin: -17px;
  }


}
